@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    font-family: 'Anton', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f886a;
}
h1{
    color: #f5f0e4;
    position: absolute;
    font-size: 60px;
    top: 20%;
}

.calculadora{
    height: 50%;
    width: 300px;
    top: 30%;
    position: absolute;
    border-radius: 15px;
    background-color: #3e503cd7;
    padding: 15px;
}

.calculadora p{
    text-align: center;
}

#resultado{
    margin-top: 20px;
    border-radius: 3px;
    text-align: right;
    font-size: 45px;
    background-color: white;
    width: 94%;
    height: 65px;
    margin-left: 8px;
}

.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao{
    margin: 3px;
    font-size: 40px;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    background-color: #767e64;
    color: #f3ecdb;
}

#botaoZero{
    font-size: 40px;
    height: 4rem;
    width: 135px;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    background-color: #767e64;
    color: #f3ecdb;
}

#botaoIgual{
    font-size: 40px;
    width: 4rem;
    height: 135px;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    background-color: #ff6f3d;
    color: #f3ecdb;
}
#operacao{
    font-size: 40px;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    background-color: #ff6f3d;
    color: #f3ecdb;
}

#botao:hover{
    background-color: #60755e;
}
#botaoIgual:hover{
    background-color: #d85d34;
}

#botaoZero:hover{
    background-color: #60755e;
}

#operacao:hover{
    background-color: #d85d34;
}

@media (max-width:768px){
    .botoes{
        margin: 10px;
    }
    #operacao{
        width: 3rem;
        height: 3rem;
    }

    #botao{
        width: 3rem;
        height: 3rem;
    }

    #botaoIgual{
        width: 3rem;
        height: 106px;
    }

    #botaoZero{
        width: 106px;
        height: 3rem;
    }
}
/* ////////////////////////////////////////////////////// */